# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build

# Sublime Text metadata
*.sublime-project
*.sublime-workspace

# Eclipse metadata
.project
.cproject

# Latex
*.dvi
*.log
*.bbl
*.blg
*.aux
*.synctex.gz

# Play framework
.target
bin
.cache
.project
