# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build

# Sublime Text metadata
*.sublime-project
*.sublime-workspace

# Eclipse metadata
.project
.cproject
