@(params: SearchParams, documents: List[QueryResult])

@main("Resultados da busca: " + params.query) {
  
  @searchForm(params)
  
  <div class="row-fluid">
    
    @if(documents.isEmpty) {
      
      <div>Nenhum documento encontrado.</div>
      
    } else {
      <table class="table">
        <tr><th>Peso</th><th>URL</th></tr>
      @for(doc <- documents) {
  	    <tr><td>@{"%.3f".format(doc.weight)}</td><td><a href="@doc.url" target="_blank">@doc.url</a></td></tr>
      }
      </table>
    }
  
  </div>
  
}
